<mat-card>
  <mat-card-content>{{ title }}</mat-card-content>
</mat-card>

<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile>
    <button mat-raised-button color="warn" (click)="openSnackBar('Overwatch 2')">
      Overwatch 2
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="warn" (click)="openSnackBar('Dead By Daylight')">
      Dead By Daylight
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="warn" (click)="openSnackBar('World of Warcraft')">
      World of Warcraft
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="warn" (click)="openSnackBar('Diablo IV')">
      Diablo IV
    </button>
  </mat-grid-tile>
</mat-grid-list>